
/* A sans-serif font. */
@font-face {
  font-family: Adventor;
  src: url('texgyreadventor-regular.otf');
}

/* A monospace font. */
@font-face {
  font-family: Cursor;
  src: url('texgyrecursor-regular.otf');
}

/* A serif font. */
@font-face {
  font-family: Schola;
  src: url('texgyreschola-regular.otf');
}

/*
#072f5f
#1261a0
#3895d3
#58cced
*/

body {
  margin: 0;
  background: #58cced;
  font-family:  Schola;
}

/* Header (div) formatting */
/* Would like to deprecate, or replace topnav with header, as it is confusing */
.header {
  padding: 10px;
  text-align: center;
  color: #000000;
}

.header h1 {
  font-size: 50px;
}

/* CSS Layout from W3Schools: https://www.w3schools.com/css/css_templates.asp */
/* Style the top navigation bar */

.topnav {
  z-index: 100;
  background-color: #072f5f;
  color: #000000;
  position:fixed;
  top: 0;
  width: 100%;
  height: 2cm;
  text-align: center;

  
  display: grid;
  grid-template-rows: auto; 
  grid-template-columns: auto 13vw 13vw 13vw 13vw 15vw;
  grid-gap: 5px;
}

.topnav a {
  float: left;
  display:inline;
  color: #000;
  background-color: #1261a0;
  text-align: center;
  text-decoration: none;

  margin: 0.2cm 0cm;
  padding: 0.6cm 16px;
  overflow: hidden;
  font-family: Adventor;

  border-top    :#fff solid 1px;
  border-left   :#fff solid 1px;
  border-bottom :#000 solid 1px;
  border-right  :#000 solid 1px;
}

.topnav a:first-child {
  margin-left: 5vw;
}
.topnav a:last-child {
  margin-right: 5vw;
}

.topnav a:hover {
  background-color: #3895d3;

  border-top    :#000 solid 1px;
  border-left   :#000 solid 1px;
  border-bottom :#fff solid 1px;
  border-right  :#fff solid 1px;
}

.footer {
  z-index: 100;
  background-color: #072f5f;
  font-family: Adventor;
  color: #fff;
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1cm;
}

.footer p {
  margin-top: 0.3cm;
  text-align: center;
}

.content {
  z-index: 0;
  padding: 10px;
  margin-top:    2cm;
  margin-bottom: 2cm;
  margin-left:   10%;
  margin-right:  10%;

  background-color: inherit;
}
 
/* Table styling */
table {
  border: 2px solid;
  overflow: scroll;
  font-family: Cursor;
}

th {
  border: 1px solid;
}

td {
  border: 1px dotted;
}
 

.noData{
  position: relative;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}