.Max_Container{
    display: flex;
    margin-bottom: 15%;
}

.Disp_Container{
    position: static;
    flex: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    align-self: flex-start;
    
}

.World_Image{
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding: 20px;
}

.Tabs_Container{
    position: static;
    flex: 6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    align-self: flex-start;
}

.World_Graph_Container{
    display: flex;
}

.WorldAvgTempGraph{
    flex: 1;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 2%;
    margin-right: 2%;
}

.WorldOceanLandTempGraph{
    flex: 1;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 2%;
    margin-right: 2%;

}

.WorldPopulationGraph{
    flex: 1;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 2%;
    margin-right: 2%;
}