.Max_Container{
    display: flex;
    margin-bottom: 15%;
}

.Disp_Container{
    position: static;
    flex: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    align-self: flex-start;
    
}

.World_Image{
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding: 20px;
}

.Tabs_Container{
    position: static;
    display: flex;
    flex: 6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    align-self: flex-start;
}

.Tab_Content_Graph_Container{
    display: flex;
}

.Tab_Content_Graph{
    height:0;
    width:20%;
    padding-bottom:20%;
    text-align: center;
    word-wrap: break-word;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 2%;
    margin-right: 2%;
}

.Tab_Data_Container{
    text-align: left;
    padding: 20px;
}
