.Max_Container{
    display: flex;
    margin-bottom: 15%;
}

.Disp_Container{
    position: static;
    flex: 3;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    align-self: flex-start;
    
}

.World_Image{
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding: 20px;
}

.Tabs_Container{
    position: static;
    display: flex;
    flex: 6;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    align-self: flex-start;
}


.Tab_Content_Graph_Container{
    display: flex;
   

}

.Tab_Content_Graph{
    height:0;
    width:20%;
    padding-bottom:20%;
    text-align: center;
    word-wrap: break-word;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 2%;
    margin-right: 2%;
}

.Tab_Data_Container{
    text-align: left;
    padding: 20px;
}


/*
   style for tabs 
 */

 /*tabcontainer*/
 .tabs{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    padding: 25px;
  }
 
  .tabs_label{
    padding: 0px 5px;
    cursor: pointer;
  }
  
  /*button*/
  .tabs_radio{
    display: none;
  }
 
  .tabs_content{
    order: 1;
    width: 100%;
    border-bottom: 3px solid #dddddd;
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
  }
  
  /* function and selection */
  .tabs_radio:checked + .tabs_label {
    font-weight: bold;
    color: #009578;
    border-bottom: 2px solid #009578;
  }
 
  .tabs_radio:checked + .tabs_label + .tabs_content {
    display: initial;
  }




  .tabs_sort{
    display: flex;
    flex-wrap: wrap;
  }
  .tabs_radio_sort:checked + .tabs_label_sort {
    font-weight: bold;
    color: #009578;
    border-bottom: 2px solid #009578;
  }
  .tabs_label_sort{
    padding: 0px 5px;
    cursor: pointer;
    font-size: small;
  }

  .tabs_content_sort{
    order: 1;
    width: 100%;
    display: none;

  }
  .tabs_radio_sort:checked + .tabs_label_sort + .tabs_content_sort{
    display: initial;
  }